:root {
    --c--text-primary: #191919;
    --c--text-secondary: #737374;
    --c--border-primary: #ccc;
    --c--bg--body: #ccc;
    --c--bg-primary: #fff;
    --c--bg--secondary: #D3D3D3FF;
    --c--bg--btn: #fff;
}

:root .dark-theme {
    --c--text-primary: #eee;
    --c--text-secondary: #d3d5db;
    --c--border-primary: #454545;
    --c--bg--body: #5e5e5e;
    --c--bg-primary: #323339;
    --c--bg--secondary: #222128;
    --c--bg--btn: #494a50;
}

:root .black-theme {
    --c--text-primary: #edeeef;
    --c--text-secondary: #d4d7e1;
    --c--border-primary: #323232;
    --c--bg--body: #000;
    --c--bg-primary: #1b1d23;
    --c--bg--secondary: #000001;
    --c--bg--btn: #343844;
}

body {
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    background-color: var(--c--bg--body);
    color: var(--c--text-primary);
    font-family: '微软雅黑', sans-serif;
    transition: background-color 1s ease-in-out;
}

.menu {
    width: 90%;
    margin-top: 90px;
    padding: 0.5rem;
    max-width: 300px;
    background-color: var(--c--bg-primary);
    transition: background-color 1s ease-in-out;
    border-radius: 12px;
    padding: 1rem;
}

.menu-header {
    padding: 1rem;
}

.menu-header-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--c--text-secondary);
}


.theme-switch input {
    display: none;
}

.theme-switch {
    position: relative;
    background: var(--c--bg--secondary);
    border-radius: 12px;
    display: flex;
    padding: 0 3px;
}

.theme-switch label {
    position: relative;
    display: flex;
    z-index: 2;
    padding: 8px 0;
    width: calc(100% / 3);
    color: var(--c--text-secondary);
}

.theme-switch label span {
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.5;
}

.theme-switch label span:hover {
    opacity: 1;
    cursor: pointer;
}

.slider {
    position: absolute;
    width: calc((100% - 6px) / 3);
    background-color: var(--c--bg--btn);
    transition: 0.3s ease, transform .25s ease-out;
    top: 3px;
    bottom: 3px;
    border-radius: 8px;
}

.theme-switch input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
}

.theme-switch input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}

.theme-switch input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}

.menu-body a{
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: .3s ease;
}

.menu-body a:hover {
    background-color: var(--c--bg--secondary);
}

ion-icon {
    margin-right: 5px;
    font-size: 18px;
    margin: 1px;
}